/*********************************************************
Template taken from https://marcbruederlin.github.io/particles.js/css/styles.css
*********************************************************/

/*********************************************************
RESET
*********************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
	display: block;
}

body 
{
	line-height: 1;
}

ol, ul 
{
	list-style: none;
}

blockquote, q 
{
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after 
{
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
  .background
  {
  	position: absolute;
  	display: block;
  	top: 0;
  	left: 0;
  	z-index: 0;
  	background: #F08080;
  }
  **/


/*********************************************************
MAIN
*********************************************************/

html, body
{
	height: 100%;
}

body 
{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	color: #fff;
	line-height: 1.6;
	background-color: #000;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 
{
	margin-bottom: 30px;
	font-size: 50px;
	font-weight: 300;
}

h2 {
	margin-bottom: 62px;
	font-size: 22px;
}

h3 {
	margin: 62px 0;
	font-size: 18px;
}

em {
	font-style: italic;
}

strong {
	font-weight: 900;
}

a {
	color: #fff;
	text-decoration: none;
}

hr {
	width: 100%;
    height: 1px;
    background-color: #ffffff;
    border: none;
}

.container {
	position: relative;
	max-width: 379px;
	margin: 0 auto;
	padding: 0 15px;
	text-align: center;
}

.container.container--large {
	max-width: 525px;
}

.container.container--large p {
	max-width: 377px;
	margin: 0 auto;
	text-align: center;
	line-height: 1.9;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
	background-color: #2A2F34;
	border-radius: 5px;
}


/*********************************************************
HEADER
*********************************************************/

.header 
{
	height: 100%;
	background: url('images/nature2.jpg') bottom no-repeat transparent;
	background-size: cover;
}

.header .header_introduction 
{
	padding-top: 60%;
}

.header .container {
	z-index: 10;
}

.header .header_introduction 
{
	padding-top: 60%;
}

.header .header_introduction p 
{
	opacity: 0.9;
}

.header .header_background {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;
}

.header_box
{
	background-color: rgba(0, 0, 0, 0.6);
	padding: 10%;
	border-radius: 30px 30px 30px 30px;
}


























